@media screen and (min-width:800px){
    main {
        max-width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 25px;
        place-items: center;
    }

    header nav a{
        display: block;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        width: 11rem;
    }

    header a:hover {
        text-decoration: underline ;
        background-color: rgb(54, 11, 95);
        border-radius: 5px;
    }   
    h2 {
        font-size: 2rem;
        text-align: center;
        grid-column: 1 / -1;
    }

    figure{
        width: 100%;
    }

    h1{
        font-size: 2rem;
        margin-left: 0;
        text-align: center;
    }

    #menu{
        display: none;
    }
    .my-navs{
        flex-direction: row;
        width: 100%;
    }
    .my-navs a{
        display: block;
        flex: 1 1 100%;
    }
}